<div class="nav-items">
<a class="nav-item" href="/bookarts/pages/explore/block-stats">🧱 BLOCK stats</a>  |  
<a class="nav-item" href="/bookarts/pages/explore/blocks-gallery">🧱 BLOCK gallery</a>  |   
<a class="nav-item" href="/bookarts/pages/explore/type-list">🔤 TYPE list</a>  |  
<a class="nav-item" href="/bookarts/pages/explore/type-gallery">🔤 TYPE gallery</a>  |  
<a class="nav-item" href="/bookarts/pages/explore/type-stats">🔤 TYPE stats</a>  |  
<a class="nav-item" href="/bookarts/pages/explore/presses">🗜️ Presses</a>  |  
<a class="nav-item" href="/bookarts/pages/explore/queer-lp">🏳️‍🌈 Queer letterpress </a>
</div>
