<div class="nav-items">
  {%- for path in include.paths -%}
  {%- assign hyperpage = site.pages | where: "path", path | first -%}
  {%- if hyperpage.title %}
  <a class="nav-item" href="{{ hyperpage.url | relative_url }}">
		{% if hyperpage.title == "Book Arts FAQ" %}
			{{ hyperpage.title | escape }} 🤔
		{% elsif hyperpage.title == "C&P Restoration" %}
			{{ hyperpage.title | escape }} 🔧	
		{% elsif hyperpage.title == "If Lost" %}
			{{ hyperpage.title | escape }} 😢	
		{% elsif hyperpage.title == "Specimen Book (Grid View)" %}
			{{ hyperpage.title | escape }} 🏁	
		{% elsif hyperpage.title == "Specimen Book (Table View)" %}
			{{ hyperpage.title | escape }} 📊		
		{% endif %}  
  </a>
  {%- endif -%}
  {%- endfor %}
</div>