---
layout: items
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

<body>
{%- include header.html -%}
<main class="page-content" aria-label="Content">
<div class="wrapper">
{%- if page.title -%}
	<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }} <!-- if any in .md file -->
</div> <!-- ends div wrapper early, so doesn't apply to table -->



<!-- gallery display time! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="specimen-items">

<ul>
	<li><img src="/bookarts/assets/letterpress-gallery/general/{{ row.ID }}.png" alt="photo of letterpress block">
	</li>
</ul>

</div>
<!-- ends gallery display time ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

</main>
{%- include footer.html -%}
</body>
</html><img src="../../../../Desktop/Screenshot%202025-08-30%20at%209.27.44%E2%80%AFAM.png" width="410" height="420" alt="Screenshot 2025-08-30 at 9.27.44&#8239;AM">